<% set_title I18n.t("brand.home") %>

<br/>

<div class="well">
  <div class="row-fluid">
    
    <div class="span8">
      <h3>
        <%= I18n.t("brand.welcome_message", :service_name => I18n.t("plugins.jhu_public.brand.applabel")).html_safe %>
      </h3>
      <p><%= I18n.t("brand.welcome_search_label").html_safe %></p>

      <div class="tab-content">
        <div id="simpleSearch" class="tab-pane active">
          <%= render_aspace_partial :partial => "simple_search" %>
        </div>
        <div id="advancedSearch" class="tab-pane">
          <%= render_aspace_partial :partial => "advanced_search" %>
        </div>
      </div>

      <ul class="search-switcher">
        <li class="active">
          <a href="#simpleSearch" data-toggle="tab"><%= I18n.t("actions.hide_advanced_search") %></a>
        </li>
        <li>
          <a href="#advancedSearch" data-toggle="tab"><%= I18n.t("actions.show_advanced_search") %></a>
        </li>
      </ul>

      <div>
        <hr />
        <p><%= I18n.t("plugins.jhu_public.digicoll.heading").html_safe %></p>
        <ul>
          <li>
            <%= link_to(I18n.t("plugins.jhu_public.instrepo.name.long").html_safe, I18n.t("plugins.jhu_public.instrepo.url")) %>
            (<%= I18n.t("plugins.jhu_public.instrepo.role").html_safe %>)
          </li>
          <li>
            <%= link_to(I18n.t("plugins.jhu_public.levycoll.name.long").html_safe, I18n.t("plugins.jhu_public.levycoll.url")) %>
            (<%= I18n.t("plugins.jhu_public.levycoll.role").html_safe %>)
          </li>
          <li>
            <%= link_to(I18n.t("plugins.jhu_public.datarepo.name.long").html_safe, I18n.t("plugins.jhu_public.datarepo.url")) %>
            (<%= I18n.t("plugins.jhu_public.datarepo.role").html_safe %>)
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">

    </div>
  </div>
</div>
