<%# set_title I18n.t("brand.home") %>

<div class="row">
  <div class="col-sm-12">
    <h1><%= t('brand.welcome_message', :service_name => I18n.t("plugins.jhu_public.brand.applabel")).html_safe %></h1>
    <br />
    <p><%= I18n.t("brand.welcome_search_label").html_safe %></p>
    <br />
  </div>
</div>

    <%= render partial: 'shared/search', locals: {:search_url => "/search",
                                                  :show_header => false, :title => t('archive._plural'),
     :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''], 
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],
     :field_options => [["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           ["#{t('search_results.filter.notes')}", 'notes'] ] } %>

<div class="row">
  <div class="col-sm-12">
      <div>
        <hr />
        <p><%= I18n.t("plugins.jhu_public.digicoll.heading").html_safe %></p>
        <ul>
          <li>
            <%= link_to(I18n.t("plugins.jhu_public.instrepo.name.long").html_safe, I18n.t("plugins.jhu_public.instrepo.url")) %>
            (<%= I18n.t("plugins.jhu_public.instrepo.role").html_safe %>)
          </li>
          <li>
            <%= link_to(I18n.t("plugins.jhu_public.levycoll.name.long").html_safe, I18n.t("plugins.jhu_public.levycoll.url")) %>
            (<%= I18n.t("plugins.jhu_public.levycoll.role").html_safe %>)
          </li>
          <li>
            <%= link_to(I18n.t("plugins.jhu_public.datarepo.name.long").html_safe, I18n.t("plugins.jhu_public.datarepo.url")) %>
            (<%= I18n.t("plugins.jhu_public.datarepo.role").html_safe %>)
          </li>
        </ul>
      </div>
    </div>
    <div class="span4">

    </div>
  </div>
<!-- </div> -->